<div class="container">
	<section ng-show="!panel">
		<p>While the service provider can manipulate the values of the records in the database and add/remove records entirely, the voronoi neighborhood metadata ensures that addition or removal of records can not happen without changing other existing records.
		Furthermore, this metadata is signed using the data owner's RSA private key, making changes impossible to miss by the end user.  On the next screen, you can give a private key which will be used resign the changed meta data.  However, as you will see on the end-user tab, this change in the signing key is still detectable, meaning the service provider can not change any part of the location database without it being detected.</p>

		<h4>Number of malicious changes that will be sent:</h4>
		changes / additions : {{diff.changed.length || 0}}<br>
		removals : {{diff.removed.length || 0}}
		<div style="text-align: right;"><button ng-click="panel = 1">Next</button></div>
	</section>
	<section ng-show="panel == 1">
		<form name="signingForm" ng-submit="$ctrl.submit(diff, keypair.private)">
			<div class="row">
				<div class="column" style="max-width: 85rem;">
					<textarea style="max-width: 85rem; height: 25rem;" ng-model-options="{debounce: 150}" ng-model="keypair.private" rsa-key placeholder="Enter private key as hex string"></textarea>
					<div style="text-align: right; margin-top: -2rem;"><button ng-click="keypair = $ctrl.crypto.generateKeys();" type="button">Generate private key</button></div>
				</div>
			</div>
			<div class="row">
				<div class="column"><button ng-click="panel = 0">Back</button></div>
				<div class="column" style="text-align: right;"><button type="submit">Submit</button></div>
			</div>
		</form>
	</section>
	<section ng-show="panel == 1000">
		<code style="white-space: pre;" ng-show="keypair.private" ng-bind="keypair.public"></code>
		<p>The malicious changes have been submitted.</p>
		<div class="column" style="text-align: right;"><button type="button" ng-click="closeThisDialog()">Close</button></div>
	</section>
</div>