<div class="container">
	<h1>Service Provider View</h1>
	<p>
		This page lets you view and manipulate the location data way a service provider would.  It is not a raw dump of the database table, however.
		When submitting changes, this view can attempt to re-calculate the Voronoi neighborhood and re-sign the verification object.
		The idea is that manipulating the raw data might be very difficult for a human to do, but it is best not to rely on security through obscurity.
		Instead, we assume that a malicious provider knows the algorithm that generates the Voronoi neighborhood and verification objects.
	</p>
	<fieldset style="border-width: 2px; padding: 1rem; max-width: 80rem;">
		<legend>Malicious behavior settings</legend>
		<label><input type="checkbox" ng-model="dropRecordsRandom" ng-change="$ctrl.dropRecordsRandomChanged(dropRecordsRandom)">Randomly drop points from results</label>
		<label><input type="checkbox" ng-model="modifyRecordsRandom" ng-change="$ctrl.modifyRecordsRandomChanged(modifyRecordsRandom)">Randomly return wrong points as k-nearest neighbors</label>
	</fieldset>
	<table id="pois">
		<thead>
			<th>Coordinates (WGS 84 latitude / longitude in degrees)</th>
			<th>Name</th>
			<!-- <th>Cartesian</th> -->
			<th>Remove</th>
		</thead>
		<tbody>
			<tr ng-repeat="point in POIs" ng-click="point.$view.expanded = !point.$view.expanded" poi-row ng-class-even="'even'" ng-class="{'expanded': point.$view.expanded, 'hovering': hovering}" ng-mouseenter="hovering = true" ng-mouseleave="hovering = false">
				<td>
					<input type="text" ng-model="point.lat" ng-focus="point.$view.expanded = true" style="width: initial;">&deg;,
					<input type="text" ng-model="point.lng" ng-focus="point.$view.expanded = true" style="width: initial;">&deg;
				</td>
				<td><input type="text" ng-model="point.tail.name" ng-focus="point.$view.expanded = true"></td>
				<td><button ng-click="POIs.splice(POIs.indexOf(point), 1)">Drop POI from DB</button></td>
			</tr>
		</tbody>
	</table>
	<div class="container">
		<div class="row">
			<div class="column" style="text-align: left;"><button ng-click="$ctrl.addPoint()">Add malicious point</button></div>
			<div class="column" style="text-align: right;"><button ng-click="$ctrl.submitChanges(POIs)">Send malicious changes</button></div>
		</div>
	</div>
</div>
