@import url("webfonts.css");

body {
/* 	background-color: #BADA55; */
	/* font: 1rem/normal 'PT Sans'; */
	font-family: 'PT Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	background-color: #FDFDFD;
	background-image: url(../images/bg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: rgba(255, 255, 255, 0.7);
}

p {
	margin-bottom: 2rem;
}

a, a:VISITED {
	color: #ff7961;
	text-decoration: none;
}
a:ACTIVE {
	color: red;
}

table.bordered td, table.bordered th {
	border: 1px solid;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Milligram overrides */
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	background-color: #f6755e;
	border: 0.1rem solid #f6755e;
}
.button:focus, button:focus, input[type='button']:focus, input[type='reset']:focus, input[type='submit']:focus {
	background-color: #f6755e;
	border: 0.1rem solid #f6755e;
}
.button:active, button:active, input[type='button']:active, input[type='reset']:active, input[type='submit']:active {
	background-color: #f6755e;
	border: 0.1rem solid #f6755e;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
	background-color: #FFF;
	color: #F93411;
}

.container {
	max-width: 170rem;
	padding: 0 1.0rem;
}

h3 {
	margin-bottom: 1.6rem;
}
h4 {
	margin-bottom: 1.2rem;
}
h5 {
	margin-bottom: 1.0rem;
}
h6 {
	margin-bottom: 0.8rem;
}

/* ngdialog overrides */
@-webkit-keyframes ngdialog-flyin {
	0% {
	  opacity: 0;
	  -webkit-transform: translateY(-40px);
	  transform: translateY(-40px);
	}
 
	100% {
	  opacity: 1;
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
 }
 
 @keyframes ngdialog-flyin {
	0% {
	  opacity: 0;
	  -webkit-transform: translateY(-40px);
	  transform: translateY(-40px);
	}
 
	100% {
	  opacity: 1;
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
 }
 
 @-webkit-keyframes ngdialog-flyout {
	0% {
	  opacity: 1;
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
 
	100% {
	  opacity: 0;
	  -webkit-transform: translateY(-40px);
	  transform: translateY(-40px);
	}
 }
 
 @keyframes ngdialog-flyout {
	0% {
	  opacity: 1;
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
 
	100% {
	  opacity: 0;
	  -webkit-transform: translateY(-40px);
	  transform: translateY(-40px);
	}
 }

.ngdialog .ngdialog-close {
	border: none;
	background: transparent;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	color: #000;
	font-size: 3rem;
	padding-right: 1rem;
 }


/* Voronoi app navigation*/
#top-nav {
	display: block;
	background-color: #f6755e;
	color: #fff;
	margin-bottom: 1rem;
}
#top-nav ul {
	list-style: none;
	margin-bottom: 0;
	justify-content: space-around;
	padding: 0.5rem 0.3rem;
	display: flex;
}
#top-nav li {
	text-align: center;
	margin-bottom: 0rem;
	border-radius: 0.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
#top-nav li.active-route {
	background-color: #FFF;
	color: #f6755e;
}
#top-nav li:not(.active-route):hover {
	background: rgba(255, 255, 255, 0.175);
}
#top-nav li a {
	color: inherit;
	padding: 1rem 4rem;
	display: inline-block;
	font-variant: small-caps;
	letter-spacing: 0.2rem;
}


ng-view {
	display: block;
}
#main {
	padding: 0 1rem;
}
#main > .inner {
	/* width: 128rem; */
	margin: 0 auto;
	max-width: 100%;
}
.halo {
	margin-bottom: 2rem;
	background: rgba(255, 255, 255, 0.125);
	border: 1px solid rgba(255, 255, 255, 0.275);
	padding: 1rem;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	border-radius: 4px;
}

.table {
	display: table;
}
.table-row {
	display: table-row;
}
.table-header {
	font-weight: bold;
}
.table-header, .table-cell {
	display: table-cell;
	padding: 1rem;
	/* border-bottom: 0.1rem solid #e1e1e1; */
}

.poi-details .row .column.label {
	max-width: 15rem;
}
.poi-details label {
	margin-bottom: 0;
}
#pois tr.poi-details {
	display: none;
}
#pois tr.poi-details.expanded {
	display: table-row;
}
#pois.halo tr.even {
	background-color: rgba(255, 255, 255, 0.09);
 }
#pois tr.expanded,
#pois tr.even.expanded {
	background-color: rgba(246, 117, 94, 0.5);
}
#pois tr.expanded.hovering,
#pois tr.even.expanded.hovering {
	background-color: rgba(246, 117, 94, 0.38);
}

 #pois tbody tr:HOVER, 
 #pois tbody tr.even:HOVER {
	background-color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
 }
 
 /* dataowner-component #pois td {
	
 } */
 #pois th:first-child, dataowner-component #pois td:first-child {
	padding-left: 1rem;
 }
 #pois tr th:last-child, dataowner-component #pois tr td:last-child {
	padding-right: 1rem;
 }
 #pois tr.expanded:not(.poi-details) td {
	border-bottom: 0;
 }

input.ng-invalid, textarea.ng-invalid,
input.ng-invalid, textarea.ng-invalid {
  border: 0.3rem solid red;
}

.ngdialog.dataowner-component.signature-modal .ngdialog-content {
	-webkit-animation: ngdialog-flyin .5s;
	animation: ngdialog-flyin .5s;
	background: #f0f0f0;
	border-radius: 0.5rem;
	color: #444;
	margin: 0 auto;
	max-width: 100%;
	padding: 2em 1em 1em;
	position: relative;
	width: 75%;
	height: 80%;
	overflow-y: auto;
}
 
.ngdialog.dataowner-component.signature-modal.ngdialog-closing .ngdialog-content {
	-webkit-animation: ngdialog-flyout .5s;
	animation: ngdialog-flyout .5s;
}
