@import url("webfonts.css");

body {
/* 	background-color: #BADA55; */
	font: 1em/normal 'PT Sans';
	background-color: #FDFDFD;
}

a, a:VISITED {
	color: blue;
	text-decoration: none;
}
a:ACTIVE {
	color: red;
}

table.bordered td, table.bordered th {
	border: 1px solid;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

