dataowner-component gmap {
	display: block;
	height: calc(100vh - 7.5rem);
	max-height: calc(95vh - 7.5rem);
}

dataowner-component .column-2nd {
	height: calc(100vh - 7.5rem);
	max-height: calc(95vh - 7.5rem);
  margin-left: 1rem;
  padding: 0;
}

dataowner-component #pois {
  overflow-y: auto;
  padding: 0;
  height: 100%;
}

dataowner-component #pois input, dataowner-component #pois button {
  margin-bottom: 0;
}

/* https://stackoverflow.com/questions/7725652/css-scrollbar-style-cross-browser for making it cross-browser */
dataowner-component #pois::-webkit-scrollbar {
  width: 0.5rem;  /* for vertical scrollbars */
  height: 0.5rem; /* for horizontal scrollbars */
  border-radius: 2rem;
}

dataowner-component #pois::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
}

dataowner-component #pois::-webkit-scrollbar-thumb {
  background: rgba(246, 117, 94, 0.8);
  border-radius: 2rem;
}
