<div>
	<h1>Spatial Query Integrity Assurance</h1>
	<p>Welcome.  This website will illustrate a proof of concept of the algorithm outlined in Dr. Ku's paper, <a href="/">Spatial Query Integrity Assurance</a>.</p>
	<p>Cloud computing has become very common in today's industry because it's often time much cheaper to let a third-party maintain your infrastructure.  Clients get benefits of economies of scale as well as having the ability to quickly acquire more virtual machines according to their applications' needs. ...</p>
	<p>
		There are three stake-holders:
		<ul>
			<li>The data owner / data collector</li>
			<li>The service provider or cloud owner</li>
			<li>The end-user</li>
		</ul>
	</p>
</div>
